body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 32px;
  color: #293c4b;
}

.spacer-12 {
    padding: 12px;
}

.nodes {
  font-size: 11px;
}
